<%= form_for @category do |f| %>
<div class="form_field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="form_field">
  <%= f.label :description  %>
  <%= f.text_field :description %>
</div>
<div class="form_field">
  <%= f.label :eBay_id %>
  <%= f.text_field :eBay_id %>
</div>
<div class="form-field">
  <%= f.submit %>
</div>

<% end %>