<%= form_for @searchlist do |f| %>



<ul>
  <li><%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></li>
</ul>

<div class="form_field">
 <%= f.collection_select :category_id, Category.all, :id, :name%>
  </div>
<div class="form_field">
  <%= f.submit %>

<% end %>

