<%= form_for @searchlist do |f| %>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


<div class="row">
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|%>
  <div class="col-md-4">
  <p><div class="btn-lg btn-default"><%= b.label { b.check_box + b.text } %></div></td>
  </div>
  <% end %>
</div>

<div class="form-group">
  <%= f.submit class: "btn btn-lg btn-default"  %>
<% end %>
</div>