<%= form_for @searchlist do |f| %>

<div class="form_field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<ul><div><%= f.collection_check_boxes(:category_ids, Category.all, :id, :name)%></div></ul>

<div class="form-group">
  <%= f.submit class: "btn btn-lg btn-primary" %>

<% end %>