<%= form_for @searchlist do |f| %>


</div><table>
  <tr>
    <td> <%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></td>
    <td><%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></td> 
    <td><%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></td>
  </tr>
  <tr>
    <td><%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></td>
    <td><%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></td> 
    <td><%= check_box_tag Category.first.name %> <%= label_tag Category.first.name %></td>
  </tr>
</table>
<div class="form_field">
  <%= f.submit %>

<% end %>

