
<%= link_to "Edit Search List", edit_search_list_path %>
<p><%= link_to "Delete Search List", @searchlist, method: :delete, data: { confirm: "Are you sure?" }%></p>

<h1><%= @searchlist.name %></h1>

<table>
  <% @results.each do |result| %>
  <tr> 
  <% 3.times do |i| %>
    <td>
    <% result_url = result["viewItemURL"] %>
    <% result_image = result["galleryURL"] %>
    <%= link_to image_tag("#{result_image}"), result_url %>
    <%=link_to result["title"].truncate(40), result_url %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
