<div class="jumbotron">
  <div class="container">

<h1>Wish List</h1><br>

<%= link_to 'New Wish List', new_wishlist_path, class: "btn btn-lg btn-default" %>

<div style="padding-top: 60px;">
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>Results</strong>
      <div class="btn-group pull-right">
        <div class="btn-group">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1"><%= image_tag "galleryURL" %></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <span><strong><%= "title" %></strong></span>
              <br>
              <span><%= "description" %></span>
              <br>
              <span><%= "currentPrice" %></span>
            </div>
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

